body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f4f4f4;
}

/* HEADER */

header{
    background:white;
 *  padding:30px;
}

.header-contain*r{
    width:96%;
    margin:auto;*}

header h1{
    margin:0;
    fo*t-size:34px;
    font-weight:400;
*   color:#233f8f;
}

header h2{
  * margin-top:8px;
    margin-bottom*25px;
    font-size:36px;
    font-weight:300;
    color:#233f8f;
}

.menu-bar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.menu-left{
    display:flex;
    gap:30px;
}

.menu-left a,
.menu-right a{
    text-decoration:none;
    color:black;
    font-size:18px;
}

.menu-left a:hover,
.menu-right a:hover{
    color:#233f8f;
}

.menu-line{
    margin-top:15px;
    background:#d8d8d8;
    height:7px;
}

.menu-active{
    width:80px;
    height:7px;
    background:#233f8f;
}

/* CONTENU */

.container{
    displa*:grid;
    grid-template-columns:2*% 45% 30%;
    gap:20px;
    paddi*g:20px;
}

.card{
    background:w*ite;
    padding:20px;
    box-sha*ow:0 0 10px rgba(0,0,0,0.1);
}

.section-title{
    color:#233f8f;
    font-weight:bold;
    margin-bottom:10px;
    border-bottom:2px solid #233f8f;
    padding-bottom:5px;
}

/* FOOTER */

footer{
    background:*233f8f;
    color:white;
    text-*lign:center;
    padding:20px;
   *margin-top:20px;
}
